[{"COMPONENT_NAME":"cvsearch2header","COMPONENT_FOLDER":"./Scripts/components/cvsearch2-header/","PUBLIC_IMAGE_PATH":"/recruiter/scripts/components/cvsearch2-header/compiled/images/","COMPONENT_RENDER_PAGE":"\\Areas\\Jobs\\Views\\CVSearch2\\Views\\CandidateFullProfile\\index.cshtml"},{"COMPONENT_NAME":"dom-test","COMPONENT_FOLDER":"./Scripts/components/dom-test/","PUBLIC_IMAGE_PATH":"/recruiter/scripts/components/dom-test/compiled/images/","COMPONENT_RENDER_PAGE":""},{"COMPONENT_NAME":"wills-comp","COMPONENT_FOLDER":"./Scripts/components/wills-comp/","PUBLIC_IMAGE_PATH":"/recruiter/scripts/components/wills-comp/compiled/images/","COMPONENT_RENDER_PAGE":""}]